@media print {
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@page {
	margin: 1em
}

body{  
	background: transparent;
	font-family: Times, serif;
	color:#000;
}

.container {
	background: #fff;
}

header h1 {
	text-align: center;
}

nav{
  display:none;
}

.contact {
	display: block;
	text-align: center;
}

section h2 {
	border-bottom: 1px solid #000;
}


}

